<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
	</head>
	<body>
		<% include partials/menu1 %>
		<div class="container-fluid bg-3 text-center">
			<h3><%= page %></h3>
			<br />
			<div class="row">
				<table class="table table-striped table-responsive-md btm-table">
					<thead>
						<tr>
							<th>Profile ID</th>
							<th>Name</th>
							<th>Address</th>
							<th>City</th>
							<th>Country</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<% let i = 0;%> <% profile.forEach(function(profile,){ %>
						<tr>
							<td><%=profile.profileid %></td>
							<td><%=profile.name %></td>
							<td><%=profile.address %></td>
							<td><%=profile.city %></td>
							<td><%=profile.country %></td>
							<td>
								<form action="updateform/<%=profile._id %>" method="POST">
									<button type="submit">Edit Profile</button>
								</form>
							</td>
							<td>
								<form action="/profiles/user/<%=users[i].username %>" method="POST">
									<button type="submit">Change Password</button>
								</form>
							</td>
						</tr>
						<% i++ }); %>
					</tbody>
				</table>
			</div>
		</div>
	</body>
	<% include partials/script %>
</html>
