<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>
<style>
    table,th,tr,td {
        border-collapse: collapse;
        border: 1px solid #d3d3d3;
    }
</style>

<body>
    <% include partials/menu1 %>
        <div class="container-fluid bg-3 text-center">
            <h3>
                <%= page %>
            </h3><br>
            <div class="row">
                
                <form action="../<%=profile._id %>/update" method="POST" >
                    <table class='table table-striped table-responsive-md btm-table'>
                        <tr>
                            <th>Profile ID : </th>
                            <td><input type="text" name='_id' placeholder='_id' readonly value='<%=profile._id %>'></td>
                        </tr>
                        <tr>
                            <th>Profile Name : </th>
                            <td><input type='text' name='name' placeholder="name" required value='<%=profile.name %>'></td>
                        </tr>
                        <tr>
                            <th>Product Address : </th>
                            <td><input type="text" name='address' placeholder="address" required value='<%=profile.address %>'></td>
                        </tr>
                        <tr>
                            <th>City : </th>
                            <td><input type="text" name='city' placeholder="city" required value='<%=profile.city %>'></td>
                        </tr>
                        <tr>
                            <th>Country : </th>
                            <td><input type="text" name='country' placeholder="country" required value='<%=profile.country %>'></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Update Profile" ></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
</body>
<% include partials/script %>

</html>