<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>
<style>
    table,th,tr,td {
        border-collapse: collapse;
        border: 1px solid #d3d3d3;
    }
</style>

<body>
    <% include partials/menu1 %>
        <div class="container-fluid bg-3 text-center">
            <h3>
                <%= page %>
            </h3><br>
            <div class="row">
                
                <form action="../<%=transaction._id %>/update" method="POST" >
                    <table class='table table-striped table-responsive-md btm-table'>
                        <tr>
                            <th>Transaction ID : </th>
                            <td><input type="number" name='transactionid' placeholder='transactionid' readonly value='<%=transaction.transactionid %>'></td>
                        </tr>
                        <tr>
                            <th>Inventory ID : </th>
                            <td><input type="number" name='inventoryid' placeholder='inventoryid' readonly value='<%=transaction.inventoryid %>'></td>
                        </tr>
                        <tr>
                            <th>Product : </th>
                            <td><input type='text' name='product' placeholder="product" required value='<%=transaction.product%>'></td>
                        </tr>
                        <tr>
                            <th>Price : </th>
                            <td><input type="number" name='price' placeholder="price" required value='<%=transaction.price %>'></td>
                        </tr>
                        <tr>
                            <th>Quantity : </th>
                            <td><input type="number" name='quantity' placeholder="quantity" required value='<%=transaction.quantity %>'></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Update" ></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
</body>
<% include partials/script %>

</html>